<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">About</div>
              <p>Hi I'm <strong>Varun Madhu</strong>.Currently I am BTech 2nd year student at KMEA Engineering college.I am specialising in Mechanical Egineering branch,as well as studing python as a crash course.As a Part of HACKCLUB I had completed backend work of an Online Store </p>


              <p>
                Lover of innovation and everything related to generate new knowledge.
              </p> 
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Basic Information</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">November 09, 2001</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">varunmadhu6@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Phone:</strong>
                </div>
                <div class="col-sm-8">9567399514</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">Biju Bhavanam University P.O, Kochi-682022
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">Malayalam, English</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>