<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - 2023</p>
              <div class="h5">Engineering</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Engineering</div>
               <h4 class="category">KMEA COLLAGE
               </h4>
               <ul>
                <li> Studing as 2nd yr student in <b>Mechanical Engineering</b></li>
                    <li>Also in NSS</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2019</p>
              <div class="h5"></div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">St.Joseph EMHSS,Thrikkakara
               </h4>
               <ul>
                <li>
                  Completed my high school with<b> 74%</b>.
              </li>
                                  <li>Participated in NSS</li>
                                  
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2017</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">St.Joseph EMHSS,Thrikkakara
               </h4>
               <ul>
                <li> 10th passed with <b>98%</b></li>
               
                <li>Participated in RED CROSS</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>