<div class="section" id="projects">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Projects</div>

        
        <div class="row">

            <ng-container *ngFor="let project of projects| paginate: config">
                <div class="col-md-4 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="blog-entry">
                        <div class="card">
                            <img class="card-img-top" src=os.jfif onerror="this.src = 'assets/images/os.jfif'" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-title">eStore</h4>
                                <h5 class="card-text"><b>Technology :</b> React, Node, MongoDB </h5>

                                <a href="https://github.com/solistic-king/estoreapi.git" class="btn btn-primary stretched-link">GithubLink</a>

                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>