<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">
            <div class="page-header-image" data-parallax="true" style="background-image: url('assets/images/intro.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="cc-profile-image">
                        <a href="#">
                            <img src="assets/images/logo.png" alt="Image" />
                        </a>
                    </div>
                    <div class="h2 title">VARUN MADHU</div>
                    <p class="category text-white">FrontEnd Developer</p>
                    <a class="btn btn-primary" href="https://drive.google.com/file/d/1hfsdgZONJg_de7hawjLaPgCVVw4KaGLy/view?usp=sharing" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="button-container">
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.facebook.com/varun.madhu.754" target="_blank" rel="tooltip" title="Follow me on Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/soalstic_.king/" target="_blank" rel="tooltip" title="Follow me on Instagram">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/solistic-king" target="_blank" rel="tooltip" title="Follow me on Github">
                            <i class="fa fa-github"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://mobile.twitter.com/VarunMadhu12" target="_blank" rel="tooltip" title="Follow me on Twitter">
                            <i class="fa fa-twitter"></i>9432
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>